@charset "UTF-8";

@font-face {
  font-family: gibsonlight;
  src: url('Gibson-Light-webfont.ttf');
}

div {
  font-family: gibsonlight;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #F5A1BB !important;
 	border-color: #F5A1BB !important;
 	
    
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #c5ede4;
}

#riskValue {
	height: 0px;
}

#riskCategory {
	height: 0px;
}


#riskDescription {
	background-color: #c5ede4;
}

.centerBlock {
  display: table;
  margin: auto;
}


